.me {
	display: flex;
	align-items: center;
	gap: 50px;

	.text-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		h1 {
			font-size: 3em;
			color: #2F3B53;
		}

		h2 {
			font-size: 1.8em;
			width: fit-content;
			border-radius: 5px;
			color: #2F3B53;
		}

		a {
			text-decoration: none;
			display: flex;
			.project-btn {
				border-radius: 3px;
				padding: 7px 10px;
				margin-top: 20px;
				box-shadow: 4px 4px 0px #ff9a75;
				color: #fff;
				transition: 0.2s ease-in-out;
				background-color: #2F3B53;
				font-weight: 700;
				
				&:hover {
					box-shadow: 2px 2px 0px #ff9a75;
				}
				
				&:active {
					box-shadow: 0px 0px 0px #ff9a75;
				}
			}
		}
	}

	img {
		width: 280px;
		height: auto;
		border-radius: 20%;
	}
}
