.me {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;

	.text-container {
		display: flex;
		flex-direction: column;
		gap: 10px;

		h1 {
			font-size: 3em;
			color: #2f3b53;
		}

		h2 {
			font-size: 1.8em;
			width: fit-content;
			border-radius: 5px;
			color: #2f3b53;
		}

		.contact-btn {
			padding: 7px 10px;
			margin-top: 10px;
			transition: 0.2s ease-in-out;
			font-weight: 700;
			width: fit-content;
			text-decoration: none;
			color: #2f3b53;
			border-left: 3px solid #ff9a75;
			background-color: #fff1ec;
		}
	}

	img {
		width: 280px;
		height: auto;
		border-radius: 20%;
	}

	@media (max-width: 900px) {
		flex-direction: column-reverse;

		.text-container {
			h1 {
				font-size: 2.5em;
			}

			h2 {
				font-size: 1.5em;
			}
		}

		img {
			width: 200px;
		}
	}
}
